In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'name' : ['김기훈', '이유진', '박동현', '김민지'],
                    'english' : [90, 80, 60, 70],
                    'math' : [50, 60, 100, 20]})

df1

  name  english  math
0  김기훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
df1.columns

Index(['name', 'english', 'math'], dtype='object')