## pandas 임포트 
### import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
df01 = pd.DataFrame()
print(df01)

## 데이터프레임 생성방법  (pd.DataFrame())
### 1. 딕셔너리를 이용
### 2. 리스트를 이용

In [ ]:
# 딕셔너리 사용
data_dic = {
    '1반': [89.2, 92.8],
     '2반': [92.5, 89.9],
    '3반': [90.8, 95.2]
}

In [ ]:
data_dic

In [ ]:
df01 = pd.DataFrame(data_dic)

In [ ]:
df01

In [ ]:
# 리스트를 사용
data_list = [[89.2, 92.5, 90.8], [92.8, 89.9, 95.2]]
df02 = pd.DataFrame(data_list)

In [ ]:
df02

In [ ]:
# columns 옵션으로 1반, 2반 생성
data_list = [[89.2, 92.5, 90.8], [92.8, 89.9, 95.2]]

In [ ]:
df02 = pd.DataFrame(data_list)

In [ ]:
df02

### 행 인덱스 변경 
   * DataFrame객체.index = <span style="color:red">새로운 행 인덱스 배열</span>
   * DataFrame객체.rename(<span style="color:red">index={기존인덱스:새인덱스, ...}</span>)
   
### 열 이름 변경 
   * DataFrame객체.columns = <span style="color:red">새로운 열이름  배열</span>
   * DataFrame객체.rename(<span style="color:red">columns={기존이름:새이름, ...}</span>)
   
### 행 선택
   1. loc과 iloc 인덱스를 사용
   1. loc => 인덱스 이름을 기준, iloc => 정수형 위치 인덱스 기준
   
### 열 선택
   1. 단일 열 선택
     > DataFrame객체["열이름"]  
     > DataFrame객체.열이름
   1. 여러개 열 선택
     > DataFrame객체[[열1, 열2, ...]
     
### 행/열 삭제
   1. 행삭제
       > DataFrame객체.drop(행인덱스 또는 배열, axis=0)
   1. 열삭제
       > DataFram객체.drop(열이름 또는 배열, axis=1)
       
   * drop() 메소드는 기존객체를 변경하지 않고 새로운 객체로 반환함.
   * 원본 객체를 변경하는 경우 <b>inplace=True</b> 옵션 추가
   
###   행/열 추가
   1. 열추가
      > DataFrame객체['추가열이름'] = 데이터값
      
      * 모든 행에 같은 값이 삽입
   1. 행추가
      > DaraFrame객체.loc['추가행이름'] = 데이터값 또는 배열

In [ ]:
# 컬럼명을 변경해봅시다
df02.columns = ['1반','2반', '3반']

In [ ]:
df02

In [ ]:
df03 = pd.DataFrame(data_list, columns = ['1반', '2반', '3반'])

In [ ]:
df03

In [ ]:
# 1반의 성적보기
df03['1반']

In [ ]:
# 0 인덱스 보기
df03.loc[0]

In [ ]:
# 인덱스를 중간고사, 기말고사로 변경
df03.index = ['중간고사', '기말고사']

In [ ]:
df03

In [ ]:
df03.iloc[0]

In [ ]:
df03.loc['중간고사']

In [ ]:
df03.loc[['중간고사']]

In [ ]:
df03.iloc[:, 1:]

In [ ]:
# 차이점을 파악해보자
df03.iloc[1, [0,2]]

In [ ]:
# 중간고사 행 삭제
df03.drop('중간고사')

In [ ]:
df03.drop(['1반', '3반'], axis=1)

In [ ]:
df03.iloc[[1], [0,2]]

## [퀴즈01] 해결해봅시다!!!

**1. 다음의 값을 가지는 데이터 프레임을 작성하세요**

|            |  0  |  1  |  2  |  3  |  4  | 
| -----------|-----|-----|-----|-----|-----|
|     0      |  1  |  90 | 75  | 23  | 89  |
|     1      |  2  |  80 | 95  | 78  | 82  |
|     2      |  3  |  45 | 95  | 60  | 70  |
|     3      |  4  |  69 | 88  | 35  | 40  |
|     4      |  5  |  86 | 68  | 95  | 98  |

**2. 데이터프레임을 아래처럼 수정하세요**

|            |  A  |  B  |  C  |  D  |  E  | 
| -----------|-----|-----|-----|-----|-----|
|     0      |  1  |  90 | 75  | 23  | 89  |
|     1      |  2  |  80 | 95  | 78  | 82  |
|     2      |  3  |  45 | 95  | 60  | 70  |
|     3      |  4  |  69 | 88  | 35  | 40  |
|     4      |  5  |  86 | 68  | 95  | 98  |

   <span style="color: white">[힌트] 컬럼명을 A, B, C, D, E으로 변경하세요</span>

**3. 데이터프레임을 아래처럼 수정하세요**

|            |  A  |  B  |  C  |  D  |  E  | 
| -----------|-----|-----|-----|-----|-----|
|     0      |  5  |  90 | 75  | 23  | 89  |
|     1      | 10  |  80 | 95  | 78  | 82  |
|     2      | 15  |  45 | 95  | 60  | 70  |
|     3      | 20  |  69 | 88  | 35  | 40  |
|     4      |  25  |  86 | 68  | 95  | 98  |

   <span style="color: white">[힌트] A컬럼의 데이터가 5배씩 증가되었네요</span>

**4. 빨간색의 부분처럼 변경하세요**

|            |  A  |  B  |  C  |  D  |  E  | 
| -----------|-----|-----|-----|-----|-----|
|     0      |  5  |  90 | 75  | 23  | 89  |
|     1      | 10  |  80 | 95  | 78  | 82  |
|     2      | 15  |  45 | 95  | 60  | 70  |
|     3      | 20  |  69 | 88  | 35  | 40  |
|     4      |  25  |  86 | 68  | <span style="color:red">100</span>  | 98  |

   <span style="color: white">[힌트] 기본인덱스를 사용하세요</span>

**5. 데이터프레임을 아래처럼 수정하세요**
B, C, D, E 컬럼의 데이터에서 80점 이상은 1, 80점 미만은 0으로 표시해주세요

|            |  A  |  B  |  C  |  D  |  E  | 
| -----------|-----|-----|-----|-----|-----|
|     0      |  5  |  1  | 0   |  0  |  1  |
|     1      | 10  |  1  | 1   |  0  |  1  |
|     2      | 15  |  0  | 1   |  0  |  0  |
|     3      | 20  |  0  | 1   |  0  |  0  |
|     4      | 25  |  1  | 0   |  1  |  1  |

   <span style="color: white">[힌트] 비교연산을 이용하여 수정할 수 있어요</span>